<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="icon" href="../static/img/favicon.ico">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet"> 

    <title>Sachii - Q1 and Q2</title>
  </head>
  <body>
        <div class="container-fluid">
            <div class="container">
                <div class="center-elem">
                    <h1>Q1 and Q2</span></h1>
                    <h2><span id="subtext"></h2>
                    <a href="main2">
                        <button id="next" type="button"  class="btn btn-primary-outline btn-next">Q4 and Q5 ></button>
                    </a>
                    <a href="charter" target="_blank">
                        <button id="charter" type="button"  class="btn btn-primary-outline">Project Charter</button>
                    </a>
                    <a href="transcript" target="_blank">
                        <button id="transcript" type="button"  class="btn btn-primary-outline">Dialogue Transcript</button>
                    </a>
                </div>
    
            </div>
        </div>
    <div class="container-fluid div-bg-parent">
        <div class="container-fluid textbox-parent">
            <div class="container textbox-avatar">

            </div>
            <div class="container textbox-content">
                <span id="content"></span>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
              crossorigin="anonymous">
    </script>
              
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" 
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" 
            crossorigin="anonymous">
    </script>
    <script src="../static/js/typeit.min.js"></script>
    <script src="../static/js/main.js"></script>
  </body>
</html>